
.progress {
    height: 3rem;
    border-radius: 4px;
    /*transition: all 0.1s ease-out 0.1s;*/
    opacity: 0;
}
.progress.parent {
    position: absolute;
    bottom: 10%;
    width: 450px;
    border: 1px solid #b00;
    background-color: #999;
}
.progress.child {
    position: absolute;
    width: 100%;
    background-color: #3fc618;
    overflow-x: hidden;
}
.progress.parent.left {
    left: 10%;
}
.progress.parent.right {
    right: 10%;
}